/*************
GALLERY
*************/

.wrapper,
header {
	max-width: 1200px;
}


.gallery {
	margin-top: 100px;
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
}

img {
	@include mobile {
	  margin: 20px;
	  margin-top: 20px;
		width: 280px;
		height: 280px;
	}
	@include mobile2 {
		margin: 15px;
		width: 300px;
		height: 300px;
	}
	@include tablet {
		width: 260px;
		height: 260px;
	}
}



/*************
LIGHTBOX
*************/

.lb-image {
	@include mobile {
		margin: 0 auto;
		max-width: 800px;
		width: 300px!important;
		height: 300px!important;
	}
	@include mobile2 {
		width: 420px!important;
		height: 420px!important;
	}
	@include tablet {
		width: 500px!important;
		height: 500px!important;
	}
}

.lb-caption {
	color: $white;
}


