/*************
BUTTON
*************/

.btn {
	width: 25%;
	margin: 10px;
	height: 35px;
	border-radius: 10px;
	border: none;
	background-color: #cbeaf4;
}

.btn:hover {
	background-color: #7dcbe5;
}

